@font-face {
  font-family: 'Inter var experimental';
	font-display: swap;
  font-weight: 100 900;
  font-style: oblique 0deg -10deg;
  font-named-instance: 'Regular';
  src: url("fonts/Inter.var.woff2") format("woff2-variations"),
       url("fonts/Inter.var.woff2") format("woff2");
}

/* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/ */
/* https://www.jotun.com/me/en/decorative/interior/colours/colourcards/jotun-colour-collection-identity */

:root {

	/* gangen */
	--jotun-1624-letthet: #f2f1e8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1624-skylight-interior */
	--jotun-1024-tidslos: #e0ddd2; /* https://www.jotun.com/dk/da/decorative/interior/colours/1024-timeless-interior */	

	/* allroom */
	--jotun-1973-antikgra: #bebcb2; /* https://www.jotun.com/dk/da/decorative/interior/colours/1973-objective-interior */
	--jotun-1391-lysantikgra: #d4d3c8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1391-bare-interior */
	--jotin-9915-morgendis: #d4d4cf; /* https://www.jotun.com/dk/da/decorative/interior/colours/9915-oxford-river-interior */
	--jotun-8470-smoothwhite: #cecbc0; /* https://www.jotun.com/dk/da/decorative/interior/colours/8470-smooth-white-interior */
	--jotun-9904-skumring: #e1e1dd; /* https://www.jotun.com/dk/da/decorative/interior/colours/9904-twilight-interior */
	--jotun-0520-empire: #cbcbc8; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1904000002001791_Interior.aspx */
	--jotun-1027-dempet: #d4d3cb; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1100150200501791_Interior.aspx */


	/* stuen */
	--jotun-1875-sans: #e6dfce; /* https://www.jotun.com/dk/da/decorative/interior/colours/1875-sense-interior */
	--jotun-1276-soft: #dcd1ba; /* https://www.jotun.com/dk/da/decorative/interior/colours/1276-soft-interior */
	--jotun-0486-silke: #eae7db; /* https://www.jotun.com/dk/da/decorative/interior/colours/0486-early-rain-interior */
	--jotun-12125-impression: #bba78e; /* https://www.jotun.com/no/no/decorative/interior/colours/12125-impression-interior */
	
	/* kajs */
	--jotun-8118-lovsal: #c5c6b8; /* https://www.jotun.com/dk/da/decorative/interior/colours/8118-crisp-interior */
	--jotun-7629-refresh: #cacfc3; /* https://www.jotun.com/me/en/decorative/interior/colours/7627-refresh-interior */
	--jotun-7628-treasure: #a3a798; /* https://www.jotun.com/me/en/decorative/interior/colours/7628-treasure-interior */
	--jotun-7629-antiquegreen: #8a8f81; /* https://www.jotun.com/me/en/decorative/interior/colours/7629-antique-green-interior */
	--jotun-1624-skylight: #f2f1e8; /* https://www.jotun.com/me/en/decorative/interior/colours/1624-skylight-interior */
	--jotun-6379-cityscape: #8c9893; /* https://www.jotun.com/dk/da/decorative/interior/colours/6379-cityscape-interior */
	--jotun-6378-iconic: #a1aba6; /* https://www.jotun.com/dk/da/decorative/interior/colours/6378-iconic-interior */
	--jotun-12123-contemporarywhite: #e1daca; /* https://www.jotun.com/dk/da/decorative/interior/colours/12123-contemporary-white-interior */

	/* fars */
	--jotun-20119-transparentpink: #dacec0; /* https://www.jotun.com/dk/da/decorative/interior/colours/20119-transparent-pink-interior */
	--jotun-12806-rusticpink: #cab7a7; /* https://www.jotun.com/dk/da/decorative/interior/colours/12086-rustic-pink-interior */
	--jotun-12120-desertpink: #bf9f86; /* https://www.jotun.com/me/en/decorative/interior/colours/12120-desert-pink-interior */
	--jotun-12083-devine: #d2bea9; /* https://www.jotun.com/me/en/decorative/interior/colours/12083-devine-interior */
	--jotun-2024-senses: #bea795; /* https://www.jotun.com/dk/da/decorative/interior/colours/2024-senses-interior */
	--jotun-2511-moerkkvarts: #bcaba3; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/2930001177501791_Interior.aspx */

	/* lokum */
	--jotun-10678-space: #d6cfbf; /* https://www.jotun.com/dk/da/decorative/interior/colours/10678-space-interior */
	--jotun-12079-gleam: #e4dbc4; /* https://www.jotun.com/me/en/decorative/interior/colours/12079-gleam-interior */
	--jotun-12080-softradience: #d9ccaf; /* https://www.jotun.com/me/en/decorative/interior/colours/12080-soft-radiance-interior */
	--jotun-12176-silhouette: #bfb49c; /* https://www.jotun.com/no/no/decorative/interior/colours/12126-silhouette-interior */
	--jotun-1303-observe: #cebda2; /* https://www.jotun.com/me/en/decorative/interior/colours/1303-observe-interior */
	--jotun-11174-curiousmind: ##b7a992; /* https://www.jotun.com/dk/da/decorative/interior/colours/11174-curious-mind-interior */
	--jotun-11173-humbleyellow: #d3c5ab; /* https://www.jotun.com/dk/da/decorative/interior/colours/11173-humble-yellow-interior */
	--jotun-10961-rawcanvas: #beaf97; /* https://www.jotun.com/dk/da/decorative/interior/colours/10961-raw-canvas-interior */
	--jotun-10679-washedlinen: #c9c3b6; /* https://www.jotun.com/dk/da/decorative/interior/colours/10679-washed-linen-interior */
	--jotun-10341-kalk: #d9d3c7; /* https://www.jotun.com/dk/da/decorative/interior/colours/10341-limestone-interior */

	/* deco */
	--jotun-9938-dempetsort: #494948; /* https://www.jotun.com/dk/da/decorative/exterior/colours/9938-dempet-sort-exterior */
	--jotun-9917-klassiskhvit: #f0efe9; /* https://www.jotun.com/dk/da/decorative/interior/colours/9918-classic-white-interior */
	--jotun-7236-jazzwhite: #f3f4ee; /* https://www.jotun.com/me/en/decorative/interior/colours/7236-jazz-white-interior */
	--jotun-7236-chi: #f3f4ee; /* https://www.jotun.com/dk/da/decorative/interior/colours/7236-jazz-white-interior */
}

:root {
	--gangen: var(--jotun-1024-tidslos);

	--allroom: var(--jotun-1027-dempet);

	--stuen: var(--jotun-1276-soft);
	--stuen-dark: var(--jotun-12125-impression);

	--kajs: var(--jotun-8118-lovsal);
	--kajs-dark: var(--jotun-6379-cityscape);
	--kajs-light: var(--jotun-12123-contemporarywhite);

	--fars: var(--jotun-20119-transparentpink);
	--fars-dark: #bcaba3; 

	--lokum: var(--jotun-10678-space);

	--dark: var(--jotun-9938-dempetsort);

	
}
:root {
	--light: var(--jotun-7236-chi);
	--height: 100vh; /* tweaked JS */
}

.gangen {
	background-color: var(--gangen);
}
.allroom {
	background-color: var(--allroom);
}
.stuen {
	background-color: var(--stuen);
}
.kajs {
	/* https://www.jotun.com/dk/da/decorative/interior/inspiration/livingroom/jotun-8118-crisp-6379-cityscape-12123-contemporary-white-20162-mellow */
	background-color: var(--kajs);
}
.lokum {
	background-color: var(--lokum);
}
.fars {
	background-color: var(--fars);
}

/* .......................................................................... */

*,
*:before,
*:after {
	box-sizing: content-box;
}
html,
body,
main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: var(--height);
}
body {
	font-family: "Inter var experimental", sans-serif;
	color: var(--dark);	
}
main {
	overflow: scroll;
	scroll-snap-type: y mandatory;
}
section {
	position: relative;
	min-height: var(--height);
	scroll-snap-align: center;
}
section:not(:first-child) {
	border-top: 1px solid var(--dark);
}
nav {
	display: grid;
	min-height: var(--height);
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--dark);
	list-style: none;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}
nav a {
	text-decoration: none;
	position: relative;
	color: var(--dark);
	font-size: 24px;
}
nav a span {
	position: absolute;
	bottom: 12%;
	right: 12%;
}
img {
	display: block;
}
.photo {
	display: inline-block;
	background-color: var(--light);
	box-shadow: 8px 8px 24px rgba(0,0,0,0.25);
	border-radius: 2px;
	padding: 20px;
	position: absolute;
	bottom: calc(0.1 * var(--height));
	right: 10vw;
	margin: 0;
}
.photo figcaption {
	padding-top: 20px;
}
.photo picture,
.photo picture img {
	max-width: 40vw;
	max-height: calc(calc(0.8 * var(--height)) - 80px);
	border-radius: 2px;
}
section:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 31.8vw;
}
section.stuen:before {
	background-color: var(--jotun-12125-impression);
}
section.kajs:before {
	background-color: var(--kajs-dark);
}
section.fars:before {
	background-color: var(--fars-dark);
}
/*
section.kajs,
section.fars {
	background-repeat: no-repeat;
	background-size: contain;
}
section.kajs {
	background-image: url('images/kajs/reinsvoll.webp');
}
section.fars {
	background-image: url('images/fars/kirkenes.webp');
}
*/