@font-face {
  font-family: 'Inter var experimental';
	font-display: swap;
  font-weight: 100 900;
  font-style: oblique 0deg -10deg;
  font-named-instance: 'Regular';
  src: url("fonts/Inter.var.woff2") format("woff2-variations"),
       url("fonts/Inter.var.woff2") format("woff2");
}

/* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/ */
/* https://lady.inspirasjonsblogg.jotun.no/bli-kjent-med-de-nye-gronnfargene/ */
/* https://www.jotun.com/me/en/decorative/interior/colours/colourcards/jotun-colour-collection-identity */

:root {

	/* gangen */
	--jotun-1624-letthet: #f2f1e8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1624-skylight-interior */
	--jotun-1024-tidslos: #e0ddd2; /* https://www.jotun.com/dk/da/decorative/interior/colours/1024-timeless-interior */	
	--jotun-1391-lysklitgra: #d4d3c8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1391-bare-interior */

	/* allroom */
	--jotun-1973-antikgra: #bebcb2; /* https://www.jotun.com/dk/da/decorative/interior/colours/1973-objective-interior */
	--jotun-1391-lysantikgra: #d4d3c8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1391-bare-interior */
	--jotin-9915-morgendis: #d4d4cf; /* https://www.jotun.com/dk/da/decorative/interior/colours/9915-oxford-river-interior */
	--jotun-9904-skumring: #e1e1dd; /* https://www.jotun.com/dk/da/decorative/interior/colours/9904-twilight-interior */
	--jotun-0520-empire: #cbcbc8; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1904000002001791_Interior.aspx */
	--jotun-1027-dempet: #d4d3cb; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1100150200501791_Interior.aspx */
	--jotun-2098-streif: #d5d5d2; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1100000144501791_Interior.aspx */
	--jotun-0520-empire: #cbcbc8; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1904000002001791_Interior.aspx */
	--jotun-8279-haze: #c7c9c2; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/2930000632801791_Interior.aspx */
	--jotun-1926-snedrabe: #c8c6bc; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/2930000634401791_Interior.aspx */
	--jotun-5081-fabrikk: #bbc0c0; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1100000157001791_interior.aspx */
	--jotun-9911-neutral: #bdbdb9; /* https://www.jotun.com/dk/da/decorative/interior/colours/9911-platinum-interior */
	--jotun-9913-matrix: #7b7a79; /* https://www.jotun.com/dk/da/decorative/interior/colours/9913-matrix-interior */
	--jotun-4744-sophisticatedblue: #454a4d; /* https://www.jotun.com/dk/da/decorative/interior/colours/4744-sophisticated-blue-interior */
	--jotun-9938-dempetsort: #494948; /* https://www.jotun.com/dk/da/decorative/interior/colours/9938-blackened-black-interior */
	--jotun-8256-koksgra: #65665f;  /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/exterior/1907000010601791_Exterior.aspx */
	--jotun-1462-graskifer: #84817a; /* https://www.jotun.com/dk/da/decorative/interior/colours/1462-evening-sky-interior */
	--jotun-10249-sober: #79736d; /* https://www.jotun.com/dk/da/decorative/interior/colours/10249-vandyke-brown-interior */
	--jotun-1434-elegant: #605d58; /* https://www.jotun.com/dk/da/decorative/interior/colours/1434-elegant-interior */
	--jotun-6325-balance: #717e79; /* https://www.jotun.com/dk/da/decorative/interior/colours/6325-balance-interior */
	--jotun-1927-kjerne: #d1cec6; /* https://www.jotun.com/dk/da/decorative/interior/colours/1927-stone-interior */	
	--jotun-8470-smoothwhite: #cecbc0; /* https://www.interiorbutikker.no/l/a10-hjem-malt-i-jotun-smooth-white-8470/ https://www.jotun.com/dk/da/decorative/interior/colours/8470-smooth-white-interior */
	--jotun-1928-sommersne: #e4e2d7; /* rgb(228,226,215) https://www.jotun.com/dk/da/decorative/interior/colours/1928-summer-snow-interior */
	--jotun-8394-hvitpoesi: #dfdfd7; /* rgb(223,223,215) https://www.jotun.com/dk/da/decorative/interior/colours/8394-white-poetry-interior */
	--jotun-7237-nostalgi: #d2ddca;  /* rgb(210,221,202) https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/1100000025101791_Interior.aspx */
	--ncs-2502b-veddingegra: #b2b7ba; /* https://ncscolour.com/product/s-2502-b/ AND https://www.pinterest.com/pin/314759461457483262/ */

	/* stuen */
	--jotun-1875-sans: #e6dfce; /* https://www.jotun.com/dk/da/decorative/interior/colours/1875-sense-interior */
	--jotun-1276-soft: #dcd1ba; /* https://www.jotun.com/dk/da/decorative/interior/colours/1276-soft-interior */
	--jotun-0486-silke: #eae7db; /* https://www.jotun.com/dk/da/decorative/interior/colours/0486-early-rain-interior */
	--jotun-12125-impression: #bba78e; /* https://www.jotun.com/no/no/decorative/interior/colours/12125-impression-interior */
	--jotun-11174-curiousmind: #b7a992; /* https://www.jotun.com/dk/da/decorative/interior/colours/11174-curious-mind-interior */
	--jotun-10246-velvet: #d6bd90; /* https://www.jotun.com/me/en/decorative/interior/colours/10246-velvet-interior */
	
	/* kajs */
	--jotun-8118-lovsal: #c5c6b8; /* https://www.jotun.com/dk/da/decorative/interior/colours/8118-crisp-interior */
	--jotun-7626-airygreen: #d8dbcf; /* https://www.jotun.com/no/no/decorative/interior/colours/7626-airy-green-interior */
	--jotun-7629-refresh: #cacfc3; /* https://www.jotun.com/me/en/decorative/interior/colours/7627-refresh-interior */
	--jotun-7628-treasure: #a3a798; /* https://www.jotun.com/me/en/decorative/interior/colours/7628-treasure-interior */
	--jotun-7629-antiquegreen: #8a8f81; /* https://www.jotun.com/me/en/decorative/interior/colours/7629-antique-green-interior */
	--jotun-1624-skylight: #f2f1e8; /* https://www.jotun.com/me/en/decorative/interior/colours/1624-skylight-interior */
	--jotun-6378-iconic: #a1aba6; /* https://www.jotun.com/dk/da/decorative/interior/colours/6378-iconic-interior */
	--jotun-6379-cityscape: #8c9893; /* https://www.jotun.com/dk/da/decorative/interior/colours/6379-cityscape-interior */
	--jotun-6378-iconic: #a1aba6; /* https://www.jotun.com/dk/da/decorative/interior/colours/6378-iconic-interior */
	--jotun-12123-contemporarywhite: #e1daca; /* https://www.jotun.com/dk/da/decorative/interior/colours/12123-contemporary-white-interior */
	--jotun-1624-letthet: #f2f1e8; /* https://www.jotun.com/dk/da/decorative/interior/colours/1624-skylight-interior */
	--jotun-5503-naturalblue: #88959a; /* https://www.jotun.com/dk/da/decorative/interior/colours/5503-natural-blue-interior */
	--jotun-4894-oceanair: #9daaaf; /* https://www.jotun.com/me/en/decorative/interior/colours/4894-ocean-air-interior */
	--jotun-5452-nordicbreeze: #bbc6c8; /* https://www.jotun.com/dk/da/decorative/interior/colours/5452-nordic-breeze-interior */
	--jotun-8478-palegreen: #babaa5; /* https://www.jotun.com/no/no/decorative/interior/colours/8478-pale-green-interior */

	/* fars */
	--jotun-20119-transparentpink: #dacec0; /* https://www.jotun.com/dk/da/decorative/interior/colours/20119-transparent-pink-interior */
	--jotun-12806-rusticpink: #cab7a7; /* https://www.jotun.com/dk/da/decorative/interior/colours/12086-rustic-pink-interior */
	--jotun-12120-desertpink: #bf9f86; /* https://www.jotun.com/me/en/decorative/interior/colours/12120-desert-pink-interior */
	--jotun-12083-devine: #d2bea9; /* https://www.jotun.com/me/en/decorative/interior/colours/12083-devine-interior */
	--jotun-2024-senses: #bea795; /* https://www.jotun.com/dk/da/decorative/interior/colours/2024-senses-interior */
	--jotun-2511-moerkkvarts: #bcaba3; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/2930001177501791_Interior.aspx */
	--jotun-2202-sukkertop: #b9ada7; /* https://www.jotun.com/no/no/b2c/colour-inspiration/colours/interior/1100300500901791_Interior.aspx */
	--jotun-7626-airygreen: #d8dbcf; /* https://www.jotun.com/dk/da/decorative/interior/colours/7626-airy-green-interior */
	--jotun-1462-eveningsky: #84817a; /* https://www.jotun.com/me/en/decorative/exterior/colours/1462-evening-sky */
	--jotun-1233-mohair: #a49a8b; /* https://www.jotun.com/dk/da/decorative/interior/colours/1233-mohair-interior */

	/* lokum */
	--jotun-10678-space: #d6cfbf; /* https://www.jotun.com/dk/da/decorative/interior/colours/10678-space-interior */
	--jotun-1303-observe: #cebda2; /* https://www.jotun.com/dk/da/decorative/interior/colours/1303-observe-interior */
	--jotun-12075-soothingbeige: #cac0af; /* https://www.jotun.com/dk/da/decorative/interior/colours/12075-soothing-beige-interior */
	--jotun-12076-modernbeige: #bfb3a3; /* https://www.jotun.com/dk/da/decorative/interior/colours/12076-modern-beige-interior */
	--jotun-12079-gleam: #e4dbc4; /* https://www.jotun.com/me/en/decorative/interior/colours/12079-gleam-interior */
	--jotun-12080-softradience: #d9ccaf; /* https://www.jotun.com/me/en/decorative/interior/colours/12080-soft-radiance-interior */
	--jotun-12176-silhouette: #bfb49c; /* https://www.jotun.com/no/no/decorative/interior/colours/12126-silhouette-interior */
	--jotun-11174-curiousmind: ##b7a992; /* https://www.jotun.com/dk/da/decorative/interior/colours/11174-curious-mind-interior */
	--jotun-11173-humbleyellow: #d3c5ab; /* https://www.jotun.com/dk/da/decorative/interior/colours/11173-humble-yellow-interior */
	--jotun-10961-rawcanvas: #beaf97; /* https://www.jotun.com/dk/da/decorative/interior/colours/10961-raw-canvas-interior */
	--jotun-10679-washedlinen: #c9c3b6; /* https://www.jotun.com/dk/da/decorative/interior/colours/10679-washed-linen-interior */
	--jotun-10341-kalk: #d9d3c7; /* https://www.jotun.com/dk/da/decorative/interior/colours/10341-limestone-interior */
	--jotun-1622-reflection: #ebe9e1; /* https://www.jotun.com/me/en/decorative/interior/colours/1622-reflection-interior */
	--jotun-1931-kokos: #e3ddcd; /* https://www.jotun.com/dk/da/b2c/colour-inspiration/colours/interior/2930001566001791_Interior.aspx */
	--jotun-10341-kalk: #d9d3c7; /* https://www.jotun.com/dk/da/decorative/interior/colours/10341-limestone-interior */


	/* deco */
	--jotun-9938-dempetsort: #494948; /* https://www.jotun.com/dk/da/decorative/exterior/colours/9938-dempet-sort-exterior */
	--jotun-9917-klassiskhvit: #f0efe9; /* https://www.jotun.com/dk/da/decorative/interior/colours/9918-classic-white-interior */
	--jotun-7236-chi: #f3f4ee; /* https://www.jotun.com/dk/da/decorative/interior/colours/7236-jazz-white-interior */
}

:root {
	
	--gangen: var(--jotun-1928-sommersne);
	--gangen-light: var(--jotun-7236-chi);
	
	--allroom: var(--jotun-1391-lysklitgra);
	--allroom: var(--jotun-1024-tidslos);
	--allroom-dark: var(--jotun-10679-washedlinen);
	--allroom-light: var(--jotun-7236-chi);
	--allroom-accent: var(--jotun-7237-nostalgi);

	--stuen: var(--jotun-12123-contemporarywhite);
	--stuen-dark: var(--jotun-12075-soothingbeige);
	--stuen-light: var(--jotun-0486-silke);

	--kajs: var(--jotun-7629-refresh);
	--kajs-dark: var(--jotun-7628-treasure);
	--kajs-light: var(--jotun-8394-hvitpoesi);

	--fars: var(--jotun-10678-space);
	--fars-dark: var(--jotun-12076-modernbeige);
	--fars-light: var(--jotun-0486-silke);

	--lokum: var(--jotun-10341-kalk);
	--lokum-light: var(--jotun-7236-chi);
}

:root {
	--dark: var(--jotun-9938-dempetsort);
	--height: 100vh; /* tweaked JS */
}

.gangen {
	background-color: var(--gangen);
}
.allroom {
	background-color: var(--allroom);
}
.stuen {
	background-color: var(--stuen);
}
.kajs {
	background-color: var(--kajs);
}
.lokum {
	background-color: var(--lokum);
}
.fars {
	background-color: var(--fars);
}

/* .......................................................................... */

*,
*:before,
*:after {
	box-sizing: content-box;
}
html,
body,
main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: var(--height);
}
body {
	font-family: "Inter var experimental", sans-serif;
	color: var(--dark);	
}
main {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}
section {
	position: relative;
	min-height: var(--height);
	scroll-snap-align: center;
}
section:not(:first-child) {
	border-top: 1px solid var(--dark);
}
nav {
	display: grid;
	min-height: var(--height);
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--dark);
	list-style: none;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}
nav a {
	text-decoration: none;
	position: relative;
	color: var(--dark);
	font-size: 24px;
}
nav a span {
	position: absolute;
	bottom: 12%;
	right: 12%;
}
img {
	display: block;
}
.photo {
	display: inline-block;
	box-shadow: 8px 8px 24px rgba(0,0,0,0.25);
	border-radius: 2px;
	padding: 20px;
	position: absolute;
	bottom: calc(0.1 * var(--height));
	right: 10vw;
	margin: 0;
}
.photo figcaption {
	padding-top: 20px;
	text-align: right;
	font-size: 0;
}
.photo button {
	appearance: none;
	display: inline-block;
	color: var(--dark);
	font-family: inherit;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 4px 10px;
	font-size: 16px;
}
.photo button.mark {
	border-color: var(--jotun-4894-oceanair);
}
.photo picture,
.photo picture img {
	max-width: 40vw;
	max-height: calc(calc(0.8 * var(--height)) - 80px);
	border-radius: 2px;
}
.photo picture:nth-child(2),
.photo picture:nth-child(3) {
	display: none;
}
section:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 31.8vw;
}
section.gangen .photo {
	background-color: var(--gangen-light);
}
section.allroom .photo {
	background-color: var(--allroom-light);
}
section.allroom:before {
	background-color: var(--allroom-dark);
}
section.stuen:before {
	background-color: var(--stuen-dark);
}
section.stuen .photo {
	background-color: var(--stuen-light);
}
section.kajs .photo {
	background-color: var(--kajs-light);
}
section.fars .photo {
	background-color: var(--fars-light);
}
section.lokum .photo {
	background-color: var(--lokum-light);
}
section.kajs:before {
	background-color: var(--kajs-dark);
}
section.fars:before {
	background-color: var(--fars-dark);
	background-image: url('images/kirkenes.webp');
	background-repeat: repeat-y;
	background-size: contain;
}